:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-primary);
  font-size: var(--font-size-primary);
  color: var(--dark-blue);
  font-weight: 400;
  line-height: 1.5;
}

ul {
  list-style: none;
}

button,
a,
a:link,
a:active {
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
}

.heading-primary {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: var(--margin-medium);
}

.heading-primary__sub {
  color: var(--grayish-blue);
  font-size: 1.8rem;
  margin-bottom: var(--margin-medium);
}

.display-flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-content: center;
}

.display-none {
  display: none;
}

:root {
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --font-primary: 'Public Sans';
  --font-size-primary: 1.8rem;
  --padding-small: 01rem;
  --padding-medium: 2rem;
  --padding-large: 3rem;
  --margin-small: 01rem;
  --margin-medium: 2rem;
  --margin-large: 3rem;
}

.btn {
  display: inline-block;
  font-size: 1.8rem;
  color: black;
  padding: var(--padding-small) var(--padding-large);
  border: currentColor;
  border-radius: 2em;
  cursor: pointer;
  outline: none;
  text-align: center;
}

.btn--primary {
  background: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
  color: var(--white);
}

.hamburger-btn {
  outline: none;
}

.hamburger-btn--img {
  height: 1.3em;
  width: 2em;
}

.header {
  background-color: var(--white);
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-medium) var(--padding-large);
  position: relative;
}

.header__logo {
  text-align: center;
}

.header__logo--img {
  height: 1.3em;
}

.header__cta {
  display: none;
}

.main-nav {
  background-color: var(--white);
  position: absolute;
  z-index: 100;
  top: calc(var(--padding-large) * 3);
  border-radius: 0.4em;
  width: 90%;
  min-height: fit-content;
  padding: var(--padding-medium) 0;
  left: 5%;
  right: 5%;
  color: var(--dark-blue);
  display: none;
}

.main-nav--active {
  display: flex;
}

.main-nav__list:not(:last-child) {
  margin-bottom: var(--margin-medium);
  text-align: center;
}

.main-nav__link {
  color: inherit;
  font-size: 2rem;
  font-weight: 400;
}

.hero {
  background-color: var(--light-grayish-blue);
  flex-direction: column;
  width: 100%;
}

.hero__inner {
  text-align: center;
  padding: 0 var(--padding-large);
  order: 2;
}

.hero__image {
  position: relative;
  padding: 0;
  overflow: hidden;
  order: 1;
  height: 80vw;
}

.hero__image--1 img {
  width: 100%;
  transform: translateY(-16%);
}

.hero__image--2 {
  position: absolute;
  left: 0;
  padding: 0 calc(var(--padding-large) - 2%);
  top: -38%;
}

.hero__image--2 img {
  width: 100%;
}
/*# sourceMappingURL=main.css.map */