:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: calc(30% + 0.5vw);
}

body {
  font-family: var(--font-primary);
  font-size: var(--font-size-primary);
  color: var(--dark-blue);
  font-weight: 400;
  line-height: 1.5;
}

ul {
  list-style: none;
}

button,
a,
a:link,
a:active {
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5 {
  font: inherit;
}

.text {
  line-height: 1.5;
  margin-bottom: var(--margin-large);
}

.text--primary {
  font-size: 4.5rem;
  font-weight: 400;
}

.text--secondary {
  font-size: 3.5rem;
  font-weight: 300;
}

.text__sub {
  color: var(--grayish-blue);
  font-size: 2rem;
  margin-bottom: 3.5em;
}

.display-flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-content: center;
}

.display-none {
  display: none;
}

:root {
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --font-primary: 'Public Sans';
  --font-size-primary: 1.8rem;
  --padding-small: 01rem;
  --padding-medium: 2rem;
  --padding-large: 4rem;
  --padding-x-large: 7rem;
  --margin-small: 01rem;
  --margin-medium: 2rem;
  --margin-large: 3rem;
  --margin-x-large: 5rem;
}

/* 0-700px phone
  700 - 900px tablet portrait
  900 - 1200 px tablet landscape
  1200 - 1800 px desktop
  1080 +++  big desktop

ORDER : base + typography > general layout + grid > page layout > components

$breakpoint argument choices:
-phone
-tab-port
-tab-land
-big-desktop
*/
.btn {
  display: inline-block;
  font-size: 1.6rem;
  color: black;
  padding: 1em 2.1em;
  border: currentColor;
  border-radius: 2em;
  cursor: pointer;
  outline: none;
  text-align: center;
  transition: all 0.2s;
}

.btn--primary {
  background: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
  color: var(--white);
}

.btn--primary:hover, .btn--primary:active {
  filter: brightness(1.25);
  transform: scale(1.02);
}

.hamburger-btn {
  outline: none;
}

.hamburger-btn--img {
  height: 1.3em;
  width: 2em;
}

.card {
  text-align: center;
}

.card__figure {
  margin-bottom: 1em;
}

.article__title {
  text-align: center;
}

.article__box {
  margin-top: var(--margin-x-large);
}

.article__card {
  background-color: var(--white);
  margin-bottom: var(--margin-large);
}

.article__figure {
  border-radius: 0.5em;
  overflow: hidden;
}

.article__image {
  width: 100%;
}

.article__body {
  padding: var(--padding-medium) var(--padding-large) var(--padding-large);
}

.article__subtitle, .article__text {
  font-size: 1.8rem;
  color: var(--grayish-blue);
  margin-bottom: var(--margin-small);
}

.article__title {
  font-size: 2rem;
  margin-bottom: var(--margin-small);
  text-align: left;
}

.article__link {
  color: var(--dark-blue);
  transition: all 0.2s;
}

.article__link:hover {
  color: var(--lime-green);
}

.social-nav {
  margin: var(--margin-large) 0;
}

.social-nav__list {
  display: inline-block;
}

.social-nav__list:not(:last-child) {
  margin-right: var(--margin-medium);
}

.social-nav__link:active,
.social-nav__link:hover .social-nav__icon {
  fill: green;
  transform: scale(1.5) translateY(1px);
}

.social-nav__icon {
  fill: var(--white);
  width: 20px;
  height: 20px;
  transform: scale(1.2) translateY(0);
  transition: all 0.2s;
}

.social-nav__use {
  width: 50rem;
}

.header {
  background-color: var(--white);
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-medium) var(--padding-large);
  position: relative;
}

.header__logo--img {
  height: 1.3em;
  vertical-align: middle;
}

.header__cta {
  display: none;
}

.main-nav {
  background-color: var(--white);
  position: absolute;
  z-index: 100;
  top: calc(var(--padding-large) * 2);
  border-radius: 0.4em;
  width: 80%;
  min-height: fit-content;
  padding: var(--padding-large) 0;
  left: 10%;
  right: 10%;
  color: var(--dark-blue);
  display: none;
}

.main-nav--active {
  display: flex;
}

.main-nav__list:not(:last-child) {
  margin-bottom: var(--margin-medium);
  text-align: center;
}

.main-nav__link {
  color: inherit;
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: 300;
  transition: border 0.2s;
}

.main-nav__link:active, .main-nav__link:hover {
  border-bottom: 3px solid transparent;
  padding-bottom: 3px;
  background: linear-gradient(to right, var(--lime-green), var(--bright-cyan)) 0 100% no-repeat;
  background-size: 100% 5px;
}

.footer {
  background-color: var(--dark-blue);
  padding: var(--padding-large) 0;
  text-align: center;
}

.footer__logo--img {
  transform: scale(1.2);
}

.footer__icon {
  fill: white;
  stroke: white;
}

.footer__copyright {
  color: var(--grayish-blue);
  margin-top: var(--margin-large);
}

.footer-nav {
  margin-bottom: var(--margin-x-large);
}

.footer-nav__list {
  color: var(--white);
}

.footer-nav__list:not(:last-child) {
  margin-bottom: var(--margin-medium);
  text-align: center;
}

.footer-nav__link {
  color: inherit;
  font-size: 1.8rem;
  transition: all 0.2s;
}

.footer-nav__link:active, .footer-nav__link:hover {
  color: var(--lime-green);
  transform: scale(1.1);
}

.footer-nav__link:active {
  transform: translateY(2px);
}

.hero {
  background-color: var(--white);
  flex-direction: column;
  width: 100%;
  padding-bottom: 6em;
  position: relative;
}

@media only screen and (min-width: 43.75em) {
  .hero {
    flex-direction: row;
    clip-path: polygon(0% 0%, 100% 0, 100% 200%, 0% 200%);
    overflow-y: visible;
    height: 60vh;
  }
}

.hero__inner {
  text-align: center;
  padding: 0 var(--padding-large);
  order: 2;
}

@media only screen and (min-width: 43.75em) {
  .hero__inner {
    text-align: left;
    order: 1;
    width: 40%;
  }
}

.hero__image {
  order: 1;
  height: 90vw;
  position: relative;
  clip-path: polygon(-100% 0%, 100% 0, 100% 200%, -100% 200%);
}

@media only screen and (min-width: 43.75em) {
  .hero__image {
    order: 2;
    width: 60%;
    overflow: hidden;
  }
}

.hero__image img {
  width: 100%;
}

.hero__image--1 {
  position: absolute;
  width: 100%;
  left: 0;
  top: -9%;
}

@media only screen and (min-width: 43.75em) {
  .hero__image--1 {
    transform: scale(1.3);
  }
}

.hero__image--2 {
  position: absolute;
  top: -23%;
  transform: scale(0.95);
}

@media only screen and (min-width: 43.75em) {
  .hero__image--2 {
    transform: scale(1) translateX(18%);
    top: -10%;
  }
}

.features {
  background-color: var(--light-grayish-blue);
  flex-direction: column;
  padding: 0 var(--padding-large);
  padding-top: var(--padding-x-large);
}

.features__card-box {
  flex-direction: column;
}

.features__title {
  text-align: center;
}

.article {
  padding: var(--padding-x-large) var(--padding-large);
  background-color: var(--very-light-gray);
}
/*# sourceMappingURL=main.css.map */