:root {
  // colors
  //Primary
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  //@debug

  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  // fonts
  --font-primary: 'Public Sans';
  --font-size-primary: 1.8rem;

  //padding
  --padding-small: 01rem;
  --padding-medium: 2rem;
  --padding-large: 4rem;
  --body-padding: 4rem;
  --padding-x-large: 7rem;
  @include respond(tab-land) {
    --body-padding: 6rem;
  }
  @include respond(desktop) {
    --body-padding: 10rem;
  }
  //margin

  --margin-small: 01rem;
  --margin-medium: 2rem;
  --margin-large: 3rem;
  --margin-x-large: 5rem;
}
