.footer-nav {
  margin-bottom: var(--margin-x-large);
  &__list {
    color: var(--white);
    text-align: center;
    &:not(:last-child) {
      margin-bottom: var(--margin-medium);
    }

    @include respond(desktop) {
      text-align: left;
    }
  }
  &__link {
    color: inherit;
    font-size: 1.8rem;

    transition: all 0.2s;
    &:active,
    &:hover {
      color: var(--lime-green);
      transform: scale(1.1);
    }
    &:active {
      transform: translateY(2px);
    }
  }
  @include respond(tab-port) {
    grid-row: span 2;
    margin-bottom: 0;
    padding: 0 var(--padding-large);
    width: max-content;
    justify-self: center;
  }
}
