.footer {
  background-color: var(--dark-blue);
  &__logo {
    &--img {
    }
  }
  &__icon {
    fill: white;
    stroke: white;
  }
}
// icon style for facebook

// .social-nav__link .icon {
//   fill: red;
//   &:hover {
//     fill: green;
//   }
// }
// .icon {
//   height: 20px;
//   width: 20px;
// }
