.header {
  background-color: var(--white);
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-medium) var(--padding-large);
  position: relative;

  &__logo {
    &--img {
      height: 1.3em;
      vertical-align: middle;
    }
  }
  &__cta {
    display: none;
  }
}
