.hero {
  padding: 0 var(--padding-large);
  flex-direction: column;
  &__inner {
    text-align: center;
  }

  &__image {
    width: 100vw;
    padding: 0;
    &--1 {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}
