.main-nav {
  background-color: var(--white);
  position: absolute;
  z-index: 100;
  top: calc(var(--padding-large) * 2);
  border-radius: 0.4em;
  width: 80%;
  min-height: fit-content;
  padding: var(--padding-large) 0;
  left: 10%;
  right: 10%;
  color: var(--dark-blue);
  display: none;
  @include respond(tab-port) {
    display: flex;
    justify-content: flex-end;
    position: static;
    padding: 0;
  }
  @include respond(tab-land) {
    display: block;
    width: max-content;
  }

  &--active {
    display: flex;
  }
  &__primary {
    @include respond(tab-port) {
      display: flex;
    }
  }
  &__list {
    &:not(:last-child) {
      margin-bottom: var(--margin-medium);
      text-align: center;
      @include respond(tab-port) {
        margin-right: var(--margin-medium);
        margin-bottom: 0;
      }
    }
  }
  &__link {
    color: inherit;
    font-size: 2.5rem;
    line-height: 1.5;
    font-weight: 300;
    transition: border 0.3s;
    &:active,
    &:hover {
      border-bottom: 3px solid transparent;
      padding-bottom: 3px;
      background: linear-gradient(
          to right,
          var(--lime-green),
          var(--bright-cyan)
        )
        0 100% no-repeat;

      background-size: 100% 5px;
    }
    @include respond(tab-port) {
      font-size: 1.8rem;
    }
  }
}
