.main-nav {
  background-color: var(--white);
  position: absolute;
  z-index: 100;
  top: calc(var(--padding-large) * 3);
  border-radius: 0.4em;
  width: 90%;
  padding: var(--padding-medium) 0;
  left: 5%;
  right: 5%;
  color: var(--dark-blue);
  display: none;

  &--active {
    display: flex;
  }

  &__list {
    &:not(:last-child) {
      margin-bottom: var(--margin-medium);
      text-align: center;
    }
  }
  &__link {
    color: inherit;
    font-size: 1.8rem;
    font-weight: 400;
  }
}
