.card {
  text-align: center;
  @include respond(tab-port) {
    width: 45%;
    text-align: left;
  }

  &__figure {
    margin-bottom: 1em;
    @include respond(tab-port) {
      margin-bottom: var(--margin-large);
    }
  }
  @include respond(desktop) {
    width: calc(25% - var(--margin-large));
    &:not(:last-child) {
      margin-right: var(--margin-large);
    }
  }
}
