.social-nav {
  &__primary {
  }
  &__list {
    background-color: yellow;
    display: inline-block;
  }

  &__link {
    &:hover .social-nav__icon {
      fill: green;
    }
  }
  &__icon {
    fill: var(--white);
    width: 20px;
    height: 20px;
  }
  &__use {
    width: 50rem;
  }
}
