.social-nav {
  margin: var(--margin-large) 0;
  &__list {
    display: inline-block;
    &:not(:last-child) {
      margin-right: var(--margin-medium);
    }
  }

  &__link {
    &:active,
    &:hover .social-nav__icon {
      fill: green;
      transform: scale(1.5) translateY(1px);
    }
  }
  &__icon {
    fill: var(--white);
    width: 20px;
    height: 20px;
    transform: scale(1.2) translateY(0);
    transition: all 0.2s;
  }
  &__use {
    width: 50rem;
  }
  @include respond(tab-port) {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }
}
