:root {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  //this defines what 1rem is
  font-size: 62.5%; // 1rem = 10px; 10px/16px==62.5%}
}
body {
  font-family: var(--font-primary);
  font-size: var(--font-size-primary);
  color: var(--dark-blue);
  font-weight: 400;
}

// reset list
ul {
  list-style: none;
}
// reset ancer element
button,
a,
a:link,
a:active {
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
}
