.hero {
  background-color: yellowgreen;
  flex-direction: column;
  width: 100%;
  padding-bottom: 6em;
  @include respond(tab-port) {
    flex-direction: row;
    padding-bottom: 0;
  }

  &__inner {
    text-align: center;
    padding: 0 var(--padding-large);
    order: 2;
    @include respond(tab-port) {
      margin: var(--margin-x-large) 0;
      text-align: left;
      order: 1;
      width: 45%;
    }
  }
  &__image {
    order: 1;
    height: 50vw;
    position: relative;
    clip-path: polygon(-100% 0%, 100% 0, 100% 200%, -100% 200%);
    margin-bottom: 35%;

    @include respond(tab-port) {
      order: 2;
      width: 55%;
      height: auto;
      margin-bottom: 0;
    }
    img {
      width: 100%;
    }

    &--1 {
      position: absolute;
      width: 100%;
      left: 0;
      top: calc(170% - 100vw);
      @include respond(tab-port) {
        // top: -3%;
        // left: 22%;
        // transform: scale(1.7, 1.8);

        // test
        display: inline-block;
        border: 2px solid red;
        width: 100%;
        position: relative;
        top: -3%;
        overflow: hidden;
        height: 100%;

        img {
          display: inline-block;
          position: absolute;
          top: -3%;
          left: 21%;
          transform: scale(1.6, 1.8);
        }
      }
    }
    &--2 {
      position: absolute;
      top: calc(128% - 100vw);
      transform: scale(0.95);

      @include respond(tab-port) {
        position: relative;
        display: inline-block;
        border: 2px solid wheat;
        width: 100%;
        transform: scale(1);
        top: -125%;
        height: 250%;
        overflow-x: hidden;
        img {
          display: inline-block;
          position: absolute;
          top: 4%;
          left: 17%;
          transform: scale(1);
        }
      }
    }
  }
}
.features {
  background-color: var(--light-grayish-blue);
  flex-direction: column;
  padding: 0 var(--padding-large);
  padding-top: var(--padding-x-large);

  &__card-box {
    flex-direction: column;
  }
  &__title {
    text-align: center;
  }
}
.article {
  padding: var(--padding-x-large) var(--padding-large);
  background-color: var(--very-light-gray);
}
