.hero {
  background-color: var(--white);
  flex-direction: column;
  width: 100%;
  padding-bottom: 6em;

  &__inner {
    text-align: center;

    order: 2;
  }
  &__image {
    position: relative;
    padding: 0;
    overflow: hidden;
    order: 1;
    height: 80vw;
    &--1 {
      img {
        width: 100%;
        transform: translateY(-16%);
      }
    }
    &--2 {
      position: absolute;
      left: 0;
      padding: 0 calc(var(--padding-large) - 2%);
      top: -38%;
      img {
        width: 100%;
      }
    }
  }
}
.features {
  background-color: var(--light-grayish-blue);
  flex-direction: column;
  padding: 0 var(--padding-large);
  padding-top: var(--padding-x-large);

  &__card-box {
    flex-direction: column;
  }
  &__title {
    text-align: center;
  }
}
